themes {
    flexoki-light {
        fg "#100F0F"
        bg "#FFFCF0"
        black "#100F0F"
        red "#D14D41"
        green "#879A39"
        yellow "#D0A215"
        blue "#205EA6"
        magenta "#CE5D97"
        cyan "#3AA99F"
        white "#E6E4D9"
        orange "#d0772b"
    }
}
