themes {
    lumon {
        text_unselected {
            base 214 226 238
            background 27 45 64
            emphasis_0 139 201 235
            emphasis_1 180 228 246
            emphasis_2 94 149 188
            emphasis_3 139 201 235
        }
        text_selected {
            base 214 226 238
            background 27 45 64
            emphasis_0 139 201 235
            emphasis_1 180 228 246
            emphasis_2 94 149 188
            emphasis_3 139 201 235
        }
        ribbon_selected {
            base 27 45 64
            background 94 149 188
            emphasis_0 77 134 176
            emphasis_1 139 201 235
            emphasis_2 139 201 235
            emphasis_3 111 184 227
        }
        ribbon_unselected {
            base 27 45 64
            background 214 226 238
            emphasis_0 77 134 176
            emphasis_1 214 226 238
            emphasis_2 111 184 227
            emphasis_3 139 201 235
        }
        table_title {
            base 94 149 188
            background 0
            emphasis_0 139 201 235
            emphasis_1 180 228 246
            emphasis_2 94 149 188
            emphasis_3 139 201 235
        }
        table_cell_selected {
            base 214 226 238
            background 22 36 45
            emphasis_0 139 201 235
            emphasis_1 180 228 246
            emphasis_2 94 149 188
            emphasis_3 139 201 235
        }
        table_cell_unselected {
            base 214 226 238
            background 27 45 64
            emphasis_0 139 201 235
            emphasis_1 180 228 246
            emphasis_2 94 149 188
            emphasis_3 139 201 235
        }
        list_selected {
            base 214 226 238
            background 22 36 45
            emphasis_0 139 201 235
            emphasis_1 180 228 246
            emphasis_2 94 149 188
            emphasis_3 139 201 235
        }
        list_unselected {
            base 214 226 238
            background 27 45 64
            emphasis_0 139 201 235
            emphasis_1 180 228 246
            emphasis_2 94 149 188
            emphasis_3 139 201 235
        }
        frame_selected {
            base 94 149 188
            background 0
            emphasis_0 139 201 235
            emphasis_1 180 228 246
            emphasis_2 139 201 235
            emphasis_3 0
        }
        frame_highlight {
            base 139 201 235
            background 0
            emphasis_0 139 201 235
            emphasis_1 139 201 235
            emphasis_2 139 201 235
            emphasis_3 139 201 235
        }
        exit_code_success {
            base 94 149 188
            background 0
            emphasis_0 180 228 246
            emphasis_1 27 45 64
            emphasis_2 139 201 235
            emphasis_3 111 184 227
        }
        exit_code_error {
            base 77 134 176
            background 0
            emphasis_0 111 164 201
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 139 201 235
            player_2 111 184 227
            player_3 0
            player_4 111 164 201
            player_5 180 228 246
            player_6 0
            player_7 77 134 176
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
