themes {
    retro-82 {
        fg "#f6dcac"
        bg "#05182e"
        black "#0a2540"
        red "#f85525"
        green "#028391"
        yellow "#e97b3c"
        blue "#3f8f8a"
        magenta "#3f8f8a"
        cyan "#8cbfb8"
        white "#f6dcac"
        orange "#faa968"
    }
}
