themes {
    hackerman {
        fg "#ddf7ff"
        bg "#0B0C16"
        black "#151828"
        red "#50f872"
        green "#4fe88f"
        yellow "#50f7d4"
        blue "#829dd4"
        magenta "#86a7df"
        cyan "#7cf8f7"
        white "#ddf7ff"
        orange "#50f7a3"
    }
}
