themes {
    white {
        fg "#000000"
        bg "#ffffff"
        black "#000000"
        red "#2a2a2a"
        green "#3a3a3a"
        yellow "#4a4a4a"
        blue "#1a1a1a"
        magenta "#2e2e2e"
        cyan "#3e3e3e"
        white "#c0c0c0"
        orange "#373737"
    }
}
