themes {
    ethereal {
        fg "#ffcead"
        bg "#060B1E"
        black "#131a3a"
        red "#ED5B5A"
        green "#92a593"
        yellow "#E9BB4F"
        blue "#7d82d9"
        magenta "#c89dc1"
        cyan "#a3bfd1"
        white "#ffcead"
        orange "#eb8b54"
    }
}
